@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  padding: 3rem;
}
#login-form-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50vw;
}
#app{
  padding: 3rem;
}
